* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #24262e;
	color: #d9d9d9;
	font-family: 'IRANSansWeb';
	overflow-x: hidden;
	user-select: none;
}

img {
	pointer-events: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

input,
button,
select,
textarea {
	font-family: 'IRANSansWeb';
	outline: none !important;
}

textarea {
	resize: none;
}

/* Loading */
#loading {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 999999;
	background-color: #24262e;
	display: flex;
	align-items: center;
	justify-content: center;
}

#loading .lds-heart {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	transform: rotate(45deg);
	transform-origin: 40px 40px;
}

#loading .lds-heart div {
	top: 32px;
	left: 32px;
	position: absolute;
	width: 32px;
	height: 32px;
	background: #fff;
	animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

#loading .lds-heart div:after,
#loading .lds-heart div:before {
	content: " ";
	position: absolute;
	display: block;
	width: 32px;
	height: 32px;
	background: #fff;
}

#loading .lds-heart div:before {
	left: -24px;
	border-radius: 50% 0 0 50%;
}

#loading .lds-heart div:after {
	top: -24px;
	border-radius: 50% 50% 0 0;
}

/* See: https://loading.io/css */
@keyframes lds-heart {
	0% {
		transform: scale(0.95);
	}
	5% {
		transform: scale(1.1);
	}
	39% {
		transform: scale(0.85);
	}
	45% {
		transform: scale(1);
	}
	60% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(0.9);
	}
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 5px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	height: 90px;
}

::-webkit-scrollbar-track {
	border-radius: 0px;
	background: rgba(0, 0, 0, 0.05);
}

.scrollbar {
	scrollbar-color: #c8c7cc rgba(41, 40, 40, 0.4);
	scrollbar-width: 8px;
}

/* Media Query */
@media only screen and (max-width: 480px) {
	html {
		font-size: 31.25%;
	}
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 37.5%;
	}
}

@media only screen and (max-width: 1024px) {
	html {
		font-size: 43.75%;
	}
}

@media only screen and (max-width: 1280px) {
	html {
		font-size: 50%;
	}
}

@media only screen and (max-width: 1536px) {
	html {
		font-size: 56.25%;
	}
}